.body {
    background-color: #363d4491;
    font-family: 'Poppins', sans-serif !important;
}

.navFont {
    color: #fdc350 !important;
    font-size: 150% !important;
}

.navFont2 {
    font-weight: bolder;
    color: #00a2ff73 !important;
    font-size: 110% !important;
}

.navFont3 {
    color: #fdc350 !important;
    font-size: 100% !important;
}


.navShadow {
    box-shadow: 0 8px 6px -6px black; 
}

.aboutMeHeader {
    text-align: center; 
    padding-top: 25px;
    font-size: 32px;
}
.aboutMeText {
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    
}

.avatar {
    display: flex;
    Justify-Content: center;
    padding-top: 40px;

}

.footerLogo {
    padding-top: 3px;
}

.background {
    background-color:#00a2ff73;
}

.ghub {
    padding: 7px;
    color:#343a40;
    /* color:#fdc350 */
}

.carouselImage {
    align-content: center;
    max-width: 250px !important;
    max-height: 250px !important;
    
}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.carouselCol {
    display: flex;
    padding-top: 50px;
}

.carouselRow1 {
    display: flex;
    place-content: center;
}

.carouselRow2 {
    display: flex;
    place-content: center;

}

.portfoliobtn {
    display: flex;
    position: relative;
    top: 20px;
    width: 59%;
    color: rgb(231, 231, 231) !important;
    

}

.portfoliobtn:hover {
    border-color: #fdc350 !important;
    color: #fdc350 !important;
}


.carousel-control-next-icon, .carousel-control-prev-icon, .carousel-indicators {
    display: none !important;
}


/* CHEERS MODAL */
.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width:none !important;

}

.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}

