.body {
    background-color: #363d4491;
    font-family: 'Poppins', sans-serif !important;
}

.background {
    background-color:#00a2ff73;
}


/* NAVBAR */
.navFont {
    color: #fdc350 !important;
    font-size: 150% !important;
}

.navFont2 {
    font-weight: bolder;
    /* color: #00a2ff73 !important; */
    font-size: 110% !important;
}

.navFont3 {
        color: #00a2ff73 !important;

    /* color: #fdc350 !important; */
    font-size: 100% !important;
}

.navShadow {
    box-shadow: 0 8px 6px -6px black; 
}


/* ABOUT ME PAGE  */

.aboutMeHeader {
    text-align: center; 
    padding-top: 25px;
    font-size: 32px;
}
.aboutMeText {
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    
}

.avatar {
    display: flex;
    Justify-Content: center;
    padding-top: 40px;

}

.footerLogo {
    padding-top: 3px;
}


/* MEDIA CONTACT ICONS */

.ghub {
    padding: 7px;
    color:#343a40;
    /* color:#fdc350 */
}

/* BOX SHADOW */

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

/* PORTFOLIO CAROUSELS */

.carouseldiv {
    justify-content: center;
}
.carouselImage {
    display: flex;
    /* align-content: center; */
    max-width: 750px !important;
    max-height: 750px !important;
    
}

.carouselCol {
    /* display: flex; */
    padding-top: 50px;
}

/* .carouselRow1 {
    display: flex;
    place-content: center;
} */

/* .carouselRow2 {
    display: flex;
    place-content: center;

} */

.carousel-control-next-icon, .carousel-control-prev-icon, .carousel-indicators {
    display: none !important;
}


/* PORTFOLIO PAGE BUTTONS */
.portfoliobtn {
    /* display: flex; */
    position: relative;
    top: 20px;
    width: 59%;
    color: rgb(231, 231, 231) !important;   
}

.portfoliobtn:hover {
    border-color: #fdc350 !important;
    color: #fdc350 !important;
}

/* INFO PAGE JUMBOTRON */

.jtron-center {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    top: 80px;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#343a40c2 !important;
    color: rgb(231, 231, 231) !important;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.747);
}

.cheersjtronfeatures {
    background-image: url("https://i.ibb.co/fkJ93Bg/cheers-SS4.png");
}

.cheersjtrontech {
    background-image: url("https://i.ibb.co/58tpPmN/Cheers-Open-Answers-FULL.png")
}

.cheersjtron {
    background-image: url("https://i.ibb.co/HGLd2rt/Cheers-Main-Screen-FULLv2.png");
}

.squigglepigjtron {
    background-image: url("https://i.ibb.co/tJX5KYj/squigglepig-HOMEPAGE.png");
}

.whatsonjtron {
    background-position: top;
    background-image: url("https://i.ibb.co/KXshXfF/whatson-home-screen.png");
}

.whatsonfeatures {
    background-image: url("https://i.ibb.co/JpvjxgM/whatsonhomescreen.png");
}

.whatsontech {
    background-image: url("https://i.ibb.co/JpvjxgM/whatsonhomescreen.png");
}

.container {
height: 400px;
}

.jtron-top {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    top: 80px;
    width: 80%;
    /* height: 500px; */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#343a40c2 !important;
    color: rgb(231, 231, 231) !important;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.747);
}


.jtronCode {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    top: 80px;
    width: 80%;
    background-color:#343a40 !important;
    color: rgb(231, 231, 231) !important;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.63); */
}


.jtronText {
    position: relative;
    top: 20px;
    text-align: center;    
}

.jtronCodeIcons {
    position: relative;
    top: 70px;
    text-align: center;    
}

.jtronCodeIconsWhatsOn {
    position: relative;
    top: 70px;
    text-align: center; 

}
.jtronHeader {
    position: relative;
    bottom: 30px;
    font-weight: bold;
    font-size: 50px;
}

.jtronHeader-squigglepig {
    position: relative;
    bottom: 30px;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 20px;


}

.jtronSubText {
    position: relative;
    bottom: 64px;
    font-size: 22px;
    /* font-weight: bold; */
}

.jtronSubText-squigglepig {
    position: relative;
    bottom: 64px;
    font-size: 15px;


}

.jtronSubText2 {
    position: relative;
    bottom: 82px;
    font-size: 22px;
    /* font-weight: bold; */
}

.jtronImage {
    display: flex;
    position: relative;
    bottom: 17px;

}

.jtronSubTexBody {
    font-size: 16px;
    position: relative;
    bottom: 20px;
}

.pageicon {
    color: #fdc350 !important;
}

.codeicon {
    position: relative;
    top: 85px;
}

.codeIcons {
    position: relative;
    top: 90px;
}

/* INFO PAGE NAVIGATION LINKS */
.navlinks {
    display: flex;
    position: relative;
    margin: 0 auto;
    top: 50px;
}

.navlinktext {
    display: flex;
    font-weight: bolder;
    font-size: 20px;

      color: #343a40 !important;

}



   
    
